In [2]:
import pandas as pd
from config import gkey
import gmaps
import numpy as np
import requests

gmaps.configure(api_key=gkey)

In [3]:
# Read Laredo data set

Austin_csv_file = pd.read_csv("Resources/Austin_Coords.csv")
Austin_df = pd.DataFrame(Austin_csv_file)
Austin_df.head()

,School Name,Location,Percent in Poverty,Lat,Long,Google Place ID
0,Allison Elementary,Austin,92.00,30.168207,-97.817760,ChIJ04RBdWa3RIYRgJ7aGK5dgXM
1,Andrews Elementary School,Austin,91.02,30.317554,-97.679663,ChIJ6YaMBenJRIYRhrPJHKXhGBU
2,Becker Elementary School,Austin,64.52,30.250336,-97.759642,ChIJbSvrueG0RIYRxmI7kMMuRAY
3,Blackshear Elementary School,Austin,82.49,30.266967,-97.722169,ChIJORLPNri1RIYRiP9HBkbu5Iw
4,Blanton Elementary,Austin,65.23,30.306930,-97.690631,ChIJt00JZfzJRIYR5xqZyz3qn0M

In [4]:
locations = Austin_df[["Lat", "Long"]]
locations.head()

         Lat       Long
0  30.168207 -97.817760
1  30.317554 -97.679663
2  30.250336 -97.759642
3  30.266967 -97.722169
4  30.306930 -97.690631

In [5]:
#Creating heat map

# Store latitude and longitude in locations variable

locations = Austin_df[["Lat", "Long"]]

#Fill NaN values and convert to a float

locations = Austin_df[["Lat", "Long"]].astype(float)
weights = Austin_df["Percent in Poverty"]

fig = gmaps.figure()

#heat layer
heat_layer = gmaps.heatmap_layer(locations, weights=weights, dissipating=False, max_intensity=50, 
                                point_radius=5)

# add layer
fig.add_layer(heat_layer)

fig

Figure(layout=FigureLayout(height='420px'))

In [6]:
#Adding Hybrid map

fig = gmaps.figure(map_type="HYBRID")

# creating heat layer

heat_layer = gmaps.heatmap_layer(locations, weights=weights, dissipating=False, max_intensity=20, 
                                 point_radius=1)

fig.add_layer(heat_layer)
fig

Figure(layout=FigureLayout(height='420px'))