In [2]:
import pandas as pd
from config import gkey
import gmaps
import numpy as np
import requests

gmaps.configure(api_key=gkey)

In [3]:
# Read Laredo data set

Dallas_csv_file = pd.read_csv("Resources/Dallas_coords.csv")
Dallas_df = pd.DataFrame(Dallas_csv_file)
Dallas_df.head()

,School Name,Location,Percent in Poverty,Lat,Long,Google Place ID
0,William M Anderson Elementary,Dallas,97.13,32.722293,-96.655593,ChIJCbZ4NlO7ToYRv7DYsyn6ETw
1,Arcadia Park Elementary School,Dallas,96.33,32.759033,-96.910502,ChIJqe794iWbToYRjwbEYrqUy68
2,"Jose ""Joe"" May Elementary School",Dallas,96.24,32.871896,-96.875018,ChIJn_6JKTadToYROcaO8wodk6c
3,Bayles Elementary School,Dallas,98.00,32.800938,-96.706953,ChIJW0n6KS2iToYRr3_cVUo--SE
4,W A Blair Elementary School,Dallas,86.67,32.708937,-96.689292,ChIJiUIVoci8ToYRCk6ojehYKI0

In [4]:
locations = Dallas_df[["Lat", "Long"]]
locations.head()

         Lat       Long
0  32.722293 -96.655593
1  32.759033 -96.910502
2  32.871896 -96.875018
3  32.800938 -96.706953
4  32.708937 -96.689292

In [5]:
#Creating heat map

# Store latitude and longitude in locations variable

locations = Dallas_df[["Lat", "Long"]]

#Fill NaN values and convert to a float

locations = Dallas_df[["Lat", "Long"]].astype(float)
weights = Dallas_df["Percent in Poverty"]

fig = gmaps.figure()

#heat layer
heat_layer = gmaps.heatmap_layer(locations, weights=weights, dissipating=False, max_intensity=50, 
                                point_radius=5)

# add layer
fig.add_layer(heat_layer)

fig

Figure(layout=FigureLayout(height='420px'))

In [6]:
#Adding Hybrid map

fig = gmaps.figure(map_type="HYBRID")

# creating heat layer

heat_layer = gmaps.heatmap_layer(locations, weights=weights, dissipating=False, max_intensity=20, 
                                 point_radius=1)

fig.add_layer(heat_layer)
fig

Figure(layout=FigureLayout(height='420px'))