In [1]:
import pandas as pd
from config import gkey
import gmaps
import numpy as np
import requests

In [2]:
# Pulling in Austin data for a poverty heatmap
infile = pd.read_csv("Austin_Coords.csv")
Austin_df = pd.DataFrame(infile)
Austin_df.head()

,School Name,Location,Percent in Poverty,Lat,Long,Google Place ID
0,Allison Elementary,Austin,92.00,30.168207,-97.817760,ChIJ04RBdWa3RIYRgJ7aGK5dgXM
1,Andrews Elementary School,Austin,91.02,30.317554,-97.679663,ChIJ6YaMBenJRIYRhrPJHKXhGBU
2,Becker Elementary School,Austin,64.52,30.250336,-97.759642,ChIJbSvrueG0RIYRxmI7kMMuRAY
3,Blackshear Elementary School,Austin,82.49,30.266967,-97.722169,ChIJORLPNri1RIYRiP9HBkbu5Iw
4,Blanton Elementary,Austin,65.23,30.306930,-97.690631,ChIJt00JZfzJRIYR5xqZyz3qn0M

In [3]:
# Setting locations and poverty variables
locations = Austin_df[["Lat", "Long"]].astype(float)
weights = Austin_df["Percent in Poverty"]

In [4]:
# Adding grocery stores

infile = pd.read_csv("Austin_groceries.csv")
A_Groc_df = pd.DataFrame(infile)
A_Groc_df.head(2)

  Store Name Location        Lat       Long                         Vicinity
0      H-E-B   Austin  30.216284 -97.830988           6900 Brodie Ln, Austin
1      H-E-B   Austin  30.197923 -97.786481  600 W William Cannon Dr, Austin

In [5]:
# Locations

grocery_df = A_Groc_df[["Lat", "Long"]].astype(float)
names = A_Groc_df["Store Name"]

grocery_layer = gmaps.symbol_layer(grocery_df, fill_color = 'blue',
                                  stroke_color = 'blue', scale = 2, hover_text=names)

In [6]:
# Setting up the heat map
gmaps.configure(api_key = gkey)

fig = gmaps.figure()

heat_layer = gmaps.heatmap_layer(locations, weights=weights, max_intensity = 100, point_radius = 15)
grocery_layer = gmaps.symbol_layer(grocery_df, fill_color = 'blue',
                                  stroke_color = 'blue', scale = 3, hover_text = names)

fig.add_layer(heat_layer)
fig.add_layer(grocery_layer)
# fig.add_layer(HEB_layer)
# fig.add_layer(Randalls_layer)
fig

Figure(layout=FigureLayout(height='420px'))

In [ ]:
# alternate map with Casis and Mills added in

temp = pd.read_csv("Austin_Coords copy.csv")
alt_df = pd.DataFrame(temp)
alt_df.tail()

In [ ]:
# Setting locations and weights
locations = alt_df[["Lat", "Long"]].astype(float)
weights = alt_df["Percent in Poverty"]

In [ ]:
# Setting up the heat map
gmaps.configure(api_key = gkey)

fig = gmaps.figure()

heat_layer = gmaps.heatmap_layer(locations, weights=weights, max_intensity = 100, point_radius = 20)

fig.add_layer(heat_layer)

fig.add_layer(gmaps.transit_layer())

fig

In [13]:
file = pd.read_csv("Laredo_coords.csv")
Laredo_df = pd.DataFrame(file)
Laredo_df.head()

,School Name,Location,Percent in Poverty,Lat,Long,Google Place ID
0,Antonio M. Bruni Elementary School,Laredo,100.0,27.513232,-99.502200,ChIJNX9vQIIhYYYRYxMSm6Ws-r8
1,Don Jose Gallego,Laredo,100.0,27.517265,-99.491829,ChIJu3mShXohYYYRF2uzDZdl5QE
2,Leon Daiches Elementary School,Laredo,100.0,27.496955,-99.481249,ChIJxYFlGN0jYYYRasSi-cCd6sw
3,Francisco Farias Elementary School,Laredo,100.0,27.538260,-99.511320,ChIJW-ZJGaUhYYYRiRbv-huhLaM
4,Heights Elementary School,Laredo,100.0,27.503979,-99.484182,ChIJQb-m1NgjYYYRrefQzglRrWs

In [14]:
# Setting locations and weights
Laredo_locations = Laredo_df[["Lat", "Long"]].astype(float)
Laredo_weights = Laredo_df["Percent in Poverty"]

In [20]:
# Bringing in grocery stores

infile = pd.read_csv("Laredo_grocery.csv")
dftemp2 = pd.DataFrame(infile)

In [21]:
dftemp2.head(2)

            Store Name                Address Location        Lat       Long
0  Walmart Supercenter  2320 Bob Bullock Loop   Laredo  27.518318 -99.451814
1              Walmart  5610 San Bernardo Ave   Laredo  27.552559 -99.506268

In [23]:
# Setting up grocery layer

Lar_groc =dftemp2[["Lat", "Long"]].astype(float)
names = dftemp2["Store Name"]

Lar_grocery_layer = gmaps.symbol_layer(Lar_groc, fill_color = 'blue',
                                  stroke_color = 'blue', scale = 2, hover_text=names)

In [24]:
# Setting up the heat map
gmaps.configure(api_key = gkey)

fig = gmaps.figure()

heat_layer = gmaps.heatmap_layer(locations = Laredo_locations, weights=Laredo_weights, 
                                 max_intensity = 100, point_radius = 15)

fig.add_layer(heat_layer)
fig.add_layer(Lar_grocery_layer)
fig

Figure(layout=FigureLayout(height='420px'))

In [7]:
Dallas = pd.read_csv("Dallas_coords.csv")
Dallas_df = pd.DataFrame(Dallas)
Dallas_df.head()

,School Name,Location,Percent in Poverty,Lat,Long,Google Place ID
0,William M Anderson Elementary,Dallas,97.13,32.722293,-96.655593,ChIJCbZ4NlO7ToYRv7DYsyn6ETw
1,Arcadia Park Elementary School,Dallas,96.33,32.759033,-96.910502,ChIJqe794iWbToYRjwbEYrqUy68
2,"Jose ""Joe"" May Elementary School",Dallas,96.24,32.871896,-96.875018,ChIJn_6JKTadToYROcaO8wodk6c
3,Bayles Elementary School,Dallas,98.00,32.800938,-96.706953,ChIJW0n6KS2iToYRr3_cVUo--SE
4,W A Blair Elementary School,Dallas,86.67,32.708937,-96.689292,ChIJiUIVoci8ToYRCk6ojehYKI0

In [8]:
# Setting locations and weights
Dallas_locations = Dallas_df[["Lat", "Long"]].astype(float)
Dallas_weights = Dallas_df["Percent in Poverty"]

In [16]:
# Bringing in grocery lat/long for Dallas

infile = pd.read_csv('Dallas_grocery_lat_long.csv')
dftemp = pd.DataFrame(infile)

In [17]:
dftemp.head(2)

,School Name,Closest Store,Store Lat,Store Long
0,William M Anderson Elementary,Fiesta Mart,32.734868,-96.650196
1,Arcadia Park Elementary School,Supermercado Monterrey,32.749288,-96.913445

In [18]:
Dal_groc =dftemp[["Store Lat", "Store Long"]].astype(float)
names = dftemp["Closest Store"]

grocery_layer = gmaps.symbol_layer(Dal_groc, fill_color = 'blue',
                                  stroke_color = 'blue', scale = 2, hover_text=names)

In [19]:
# Setting up the heat map
gmaps.configure(api_key = gkey)

fig = gmaps.figure()

heat_layer = gmaps.heatmap_layer(locations = Dallas_locations, weights=Dallas_weights, 
                                 max_intensity = 100, point_radius = 15)

fig.add_layer(heat_layer)
fig.add_layer(grocery_layer)

fig

Figure(layout=FigureLayout(height='420px'))

In [10]:
Houston = pd.read_csv("Houston_coords.csv")
Houston_df = pd.DataFrame(Houston)
Houston_df.head()

,Name,Location,Percent in Poverty,Lat,Long,Google Place ID
0,Alcott Elementary School,Houston,96.26,29.666799,-95.329739,ChIJY3O44eyVQIYRkd7gUx2R1cU
1,Almeda Elementary,Houston,85.43,29.600464,-95.417465,ChIJHTuzqmnrQIYR4WZU7Nytzc8
2,Anderson Elementary School,Houston,87.79,29.648826,-95.487168,ChIJEza6443pQIYR38BS3Xn8zOA
3,Atherton Elementary School,Houston,97.06,29.779675,-95.321932,ChIJ-UwU8025QIYRMHCmAsROrjg
4,Barrick Elementary School,Houston,94.60,29.874547,-95.370621,ChIJCyOuB423QIYRYerLRb56eYM

In [11]:
# Setting locations and weights
Houston_locations = Houston_df[["Lat", "Long"]].astype(float)
Houston_weights = Houston_df["Percent in Poverty"]

In [12]:
# Setting up the heat map
gmaps.configure(api_key = gkey)

fig = gmaps.figure()

heat_layer = gmaps.heatmap_layer(locations = Houston_locations, weights=Houston_weights, 
                                 max_intensity = 100, point_radius = 15)

fig.add_layer(heat_layer)

fig

Figure(layout=FigureLayout(height='420px'))