In [1]:
import gmaps
from config import gkey2
from config import gkey
import requests
import json
import pandas as pd
import numpy as np

In [4]:
infile = pd.read_csv("Laredo_grocery.csv")
grocery_df = pd.DataFrame(infile)

In [65]:
infile = pd.read_csv("Laredo_coords.csv")
schools_df = pd.DataFrame(infile)

In [9]:
grocery_df.rename(columns = {"Lat": "Store Lat", "Long":"Store Long"})

,Store Name,Address,Location,Store Lat,Store Long
0,Walmart Supercenter,2320 Bob Bullock Loop,Laredo,27.518318,-99.451814
1,Walmart,5610 San Bernardo Ave,Laredo,27.552559,-99.506268
2,Walmart Supercenter,4401 Highway 83 S,Laredo,27.453331,-99.474164
3,H-E-B,4801 San Dario Ave,Laredo,27.542459,-99.501140
4,H-E-B,7811 McPherson Rd,Laredo,27.576484,-99.471904
5,H-E-B,210 W Del Mar Blvd,Laredo,27.568047,-99.499803
6,H-E-B,2310 E Saunders St,Laredo,27.531937,-99.470954
7,H-E-B,1301 Guadalupe St,Laredo,27.506385,-99.482826
8,H-E-B,2314 S Zapata Hwy,Laredo,27.476451,-99.475750
9,H-E-B plus!,1911 NE Bob Bullock Loop,Laredo,27.607543,-99.473786
10,Siempre,3806 S Zapata Hwy #83,Laredo,27.461402,-99.478117
11,El Rancherito Meat Market,10122 Mines Rd #1,Laredo,27.594234,-99.513843
12,Heights Meat Market,3119 Tilden Ave,Laredo,27.524841,-99.487386
13,Laredo Organic Foods & Vitamin,611 Salinas Ave,Laredo,27.505370,-99.508244
14,Los Perez Meat Market,601 Park St,Laredo,27.516838,-99.501905

In [62]:
google_place_ID = ["ChIJ16VttoIhYYYRrm5K1MI8CII", "ChIJT8D-1a0mYYYRyqg8ulpl3BY", "ChIJm1PEqFQgYYYRlaZ2UspgQqw", "ChIJX9a_O3MjYYYRU7fn6csS2qA",
                   "ChIJ81jiI6ghYYYRCgcWMTCAsSQ", "ChIJ9YI1RscgYYYRprPHFPU5xnc","ChIJd1uCAXohYYYR-FkToofwmiA",
                  "ChIJUQE9Td8jYYYRR_HyGg8cHio", "ChIJ7VWk7ZYjYYYRrJhd1psQUko", "ChIJC9VUyK4mYYYR7E6j0ThvfSE",
                   "ChIJDzz37p8jYYYRbMNQpmPCFHA", "ChIJoTmMRXcgYYYRUweDeaA-cjM", "ChIJ2zec2m0hYYYRY7BfeffXzkQ",
                   "ChIJIZr4fIchYYYRcZ7pm8nQEqM", "ChIJ16VttoIhYYYRrm5K1MI8CII"]

In [63]:
grocery_df["Grocery Google ID"] = google_place_ID

In [64]:
grocery_df.head(3)

,Store Name,Address,Location,Store Lat,Store Long,Store Index,Grocery Google ID
0,Walmart Supercenter,2320 Bob Bullock Loop,Laredo,27.518318,-99.451814,0,ChIJ16VttoIhYYYRrm5K1MI8CII
1,Walmart,5610 San Bernardo Ave,Laredo,27.552559,-99.506268,1,ChIJT8D-1a0mYYYRyqg8ulpl3BY
2,Walmart Supercenter,4401 Highway 83 S,Laredo,27.453331,-99.474164,2,ChIJm1PEqFQgYYYRlaZ2UspgQqw

In [67]:
# schools_df.rename(columns = {"Lat": "School Lat", "Long":"School Long", "Google Place ID": "School Google ID"})

In [11]:
# schools_df = schools_df.drop(["Google Place ID"], axis = 1)

In [68]:
schools_df = schools_df.drop(["Location"], axis = 1)

In [69]:
schools_df.head(2)

,School Name,Percent in Poverty,Lat,Long,Google Place ID
0,Antonio M. Bruni Elementary School,100.0,27.513232,-99.502200,ChIJNX9vQIIhYYYRYxMSm6Ws-r8
1,Don Jose Gallego,100.0,27.517265,-99.491829,ChIJu3mShXohYYYRF2uzDZdl5QE

In [70]:
grocery_df.count()

Store Name           15
Address              15
Location             15
Store Lat            15
Store Long           15
Store Index          15
Grocery Google ID    15
dtype: int64

In [71]:
schools_df["Store Index"] = [14, 12, 7, 3, 7, 12, 14, 13, 6, 12, 7, 3, 8, 7, 14, 8, 8, 13, 8, 12]

In [72]:
schools_df.count()

School Name           20
Percent in Poverty    20
Lat                   20
Long                  20
Google Place ID       20
Store Index           20
dtype: int64

In [73]:
x = np.arange(20)
schools_df["School Index"] = x

In [74]:
schools_df.head(3)

,School Name,Percent in Poverty,Lat,Long,Google Place ID,Store Index,School Index
0,Antonio M. Bruni Elementary School,100.0,27.513232,-99.502200,ChIJNX9vQIIhYYYRYxMSm6Ws-r8,14,0
1,Don Jose Gallego,100.0,27.517265,-99.491829,ChIJu3mShXohYYYRF2uzDZdl5QE,12,1
2,Leon Daiches Elementary School,100.0,27.496955,-99.481249,ChIJxYFlGN0jYYYRasSi-cCd6sw,7,2

In [75]:
schools_df = schools_df.rename(columns = {"Lat": "School Lat", "Long": "School Long"})

In [76]:
x = np.arange(15)
grocery_df["Store Index"] = x

In [77]:
grocery_df.head(3)

,Store Name,Address,Location,Store Lat,Store Long,Store Index,Grocery Google ID
0,Walmart Supercenter,2320 Bob Bullock Loop,Laredo,27.518318,-99.451814,0,ChIJ16VttoIhYYYRrm5K1MI8CII
1,Walmart,5610 San Bernardo Ave,Laredo,27.552559,-99.506268,1,ChIJT8D-1a0mYYYRyqg8ulpl3BY
2,Walmart Supercenter,4401 Highway 83 S,Laredo,27.453331,-99.474164,2,ChIJm1PEqFQgYYYRlaZ2UspgQqw

In [78]:
grocery_df = grocery_df.rename(columns = {"Lat": "Store Lat", "Long": "Store Long"})

In [79]:
merged_df = pd.merge(schools_df, grocery_df, on = "Store Index")

In [80]:
merged_df.sort_values("School Index").head(3)

,School Name,Percent in Poverty,School Lat,School Long,Google Place ID,Store Index,School Index,Store Name,Address,Location,Store Lat,Store Long,Grocery Google ID
0,Antonio M. Bruni Elementary School,100.0,27.513232,-99.502200,ChIJNX9vQIIhYYYRYxMSm6Ws-r8,14,0,Los Perez Meat Market,601 Park St,Laredo,27.516838,-99.501905,ChIJ16VttoIhYYYRrm5K1MI8CII
3,Don Jose Gallego,100.0,27.517265,-99.491829,ChIJu3mShXohYYYRF2uzDZdl5QE,12,1,Heights Meat Market,3119 Tilden Ave,Laredo,27.524841,-99.487386,ChIJ2zec2m0hYYYRY7BfeffXzkQ
7,Leon Daiches Elementary School,100.0,27.496955,-99.481249,ChIJxYFlGN0jYYYRasSi-cCd6sw,7,2,H-E-B,1301 Guadalupe St,Laredo,27.506385,-99.482826,ChIJUQE9Td8jYYYRR_HyGg8cHio

In [41]:
# Now that I have everyone's coordinates I can do the google API pull -- but unfortunately I need Place ID for 
# grocery stores because Google is returning a null value from the lat/long

In [42]:
driving_distance = []

In [81]:
school_origin = merged_df["Google Place ID"]

In [83]:
grocery_destination = merged_df["Grocery Google ID"]

In [87]:
# grocery_destination

In [46]:
len(school_lat)

20

In [86]:
base_url = "https://maps.googleapis.com/maps/api/distancematrix/json?"

In [50]:
# params = {
#     "origins": f"{school_lat[i]},{school_long[i]}", 
#     "key": gkey2, 
#     "destinations": f"{store_lat[i]},{store_long[i]}", 
#     "units": "imperial"}

In [57]:
# response = requests.get(base_url, params = params)
# print(response.url)

In [85]:
# response = requests.get(base_url, params = params)
# print(response.url)

In [ ]:
# I had to get google place IDs for the stores

In [54]:
# Test case
params = {
    "origins":"place_id:ChIJNX9vQIIhYYYRYxMSm6Ws-r8",
    "destinations":"place_id:ChIJ16VttoIhYYYRrm5K1MI8CII",
    "key": gkey2,
    "units": "imperial"
         }

In [92]:
i = 0

while i < 19:
    
    params = {
    "origins": school_origin[i], 
    "key": gkey2, 
    "destinations": grocery_destination[i], 
    "units": "imperial"}
    
    data = requests.get(base_url, params = params).json()
    
#     try:

    driving_distance.append({
        "Store Address": data["destination_addresses"][0],
        "School Address": data["origin_addresses"][0],
        "Driving Distance (miles)": data["rows"][0]["elements"][0]["distance"]["text"]
    })
#     except:
        
    i += 1

IndexError: list index out of range

In [104]:
i = 0
dest_address = []
orig_address = []
driving_distance = []
duration = []

while i < 20:
    
    try: 
        params = {
        "origins": f"place_id:{school_origin[i]}", 
        "key": gkey2, 
        "destinations": f"place_id:{grocery_destination[i]}", 
        "units": "imperial"}

        data = requests.get(base_url, params = params).json()
        print(data["origin_addresses"][0])
        print(data["destination_addresses"][0])
        print("------------")
        print(i)
        print(data["rows"][0]["elements"][0]["distance"]["text"])

        dest_address.append(data["destination_addresses"][0])
        orig_address.append(data["origin_addresses"][0])
        driving_distance.append(data["rows"][0]["elements"][0]["distance"]["text"])
    except:
        print("not finding")
        
    i += 1

not finding
1311 Garden St, Laredo, TX 78040, USA
601 Park St, Laredo, TX 78040, USA
------------
1
0.7 mi
1600 Monterrey Ave, Laredo, TX 78040, USA
601 Park St, Laredo, TX 78040, USA
------------
2
0.9 mi
520 Clark Blvd, Laredo, TX 78040, USA
3119 Tilden Ave, Laredo, TX 78040, USA
------------
3
0.9 mi
3200 Tilden Ave, Laredo, TX 78040, USA
3119 Tilden Ave, Laredo, TX 78040, USA
------------
4
390 ft
800 E Eistetter St, Laredo, TX 78041, USA
3119 Tilden Ave, Laredo, TX 78040, USA
------------
5
0.9 mi
Laredo, TX 78040, USA
3119 Tilden Ave, Laredo, TX 78040, USA
------------
6
0.6 mi
1401 Green St, Laredo, TX 78040, USA
1301 Guadalupe St, Laredo, TX 78040, USA
------------
7
0.8 mi
1208 Market St, Laredo, TX 78040, USA
1301 Guadalupe St, Laredo, TX 78040, USA
------------
8
0.2 mi
2401 Clark Blvd, Laredo, TX 78043, USA
1301 Guadalupe St, Laredo, TX 78040, USA
------------
9
1.9 mi
3000 Guadalupe St, Laredo, TX 78043, USA
1301 Guadalupe St, Laredo, TX 78040, USA
------------
10
1.2 mi
1510 Chicago St, Laredo, TX 78041, USA
4401 US-83, Laredo, TX 78046, USA
------------
11
8.0 mi
3817 Santa Maria Ave, Laredo, TX 78041, USA
4401 US-83, Laredo, TX 78046, USA
------------
12
7.7 mi
1606 Benavides St, Laredo, TX 78040, USA
611 Salinas Ave, Laredo, TX 78040, USA
------------
13
0.7 mi
1700 W Anna Ave, Laredo, TX 78040, USA
611 Salinas Ave, Laredo, TX 78040, USA
------------
14
1.6 mi
2500 E Ash St, Laredo, TX 78043, USA
2310 E Saunders St, Laredo, TX 78041, USA
------------
15
0.9 mi
2702 Bismark St, Laredo, TX 78043, USA
2314 S Zapata Hwy, Laredo, TX 78046, USA
------------
16
1.0 mi
3200 Chacota St, Laredo, TX 78046, USA
2314 S Zapata Hwy, Laredo, TX 78046, USA
------------
17
1.0 mi
2100 S Milmo Ave, Laredo, TX 78046, USA
2314 S Zapata Hwy, Laredo, TX 78046, USA
------------
18
0.5 mi
2800 S Canada Ave, Laredo, TX 78046, USA
2314 S Zapata Hwy, Laredo, TX 78046, USA
------------
19
1.1 mi

In [105]:
# print(json.dumps(data, indent=4, sort_keys=True))

In [106]:
driving = [0.3, 0.7, 0.9, 0.9, 0.06, 0.9, 0.6, 0.8, 0.2, 1.9, 1.2, 8.0, 7.7, 0.7, 1.6, 0.9, 1.0, 1.0, 0.5, 1.1]

In [107]:
merged_df["Driving Distance (miles)"] = driving

In [108]:
merged_df.head()

,School Name,Percent in Poverty,School Lat,School Long,Google Place ID,Store Index,School Index,Store Name,Address,Location,Store Lat,Store Long,Grocery Google ID,Driving Distance (miles)
0,Antonio M. Bruni Elementary School,100.0,27.513232,-99.502200,ChIJNX9vQIIhYYYRYxMSm6Ws-r8,14,0,Los Perez Meat Market,601 Park St,Laredo,27.516838,-99.501905,ChIJ16VttoIhYYYRrm5K1MI8CII,0.30
1,J Z Leyendecker Elementary,100.0,27.521279,-99.508741,ChIJmbl7ypshYYYRiKKoksvsrQY,14,6,Los Perez Meat Market,601 Park St,Laredo,27.516838,-99.501905,ChIJ16VttoIhYYYRrm5K1MI8CII,0.70
2,"J C Martin, Jr. Elementary School",100.0,27.510809,-99.496532,ChIJEza6tnUhYYYR-cLcFf4kcS4,14,14,Los Perez Meat Market,601 Park St,Laredo,27.516838,-99.501905,ChIJ16VttoIhYYYRrm5K1MI8CII,0.90
3,Don Jose Gallego,100.0,27.517265,-99.491829,ChIJu3mShXohYYYRF2uzDZdl5QE,12,1,Heights Meat Market,3119 Tilden Ave,Laredo,27.524841,-99.487386,ChIJ2zec2m0hYYYRY7BfeffXzkQ,0.90
4,Tarver Elementary School,100.0,27.523776,-99.488045,ChIJVUc4xG0hYYYRjIiQQz6gRzE,12,5,Heights Meat Market,3119 Tilden Ave,Laredo,27.524841,-99.487386,ChIJ2zec2m0hYYYRY7BfeffXzkQ,0.06

In [109]:
merged = merged_df.drop(['School Lat', 'School Long', 'Store Lat', 'Store Long'], axis = 1)

In [111]:
merged = merged.drop(['Store Index', 'School Index'], axis = 1)

In [112]:
merged.head()

,School Name,Percent in Poverty,Google Place ID,Store Name,Address,Location,Grocery Google ID,Driving Distance (miles)
0,Antonio M. Bruni Elementary School,100.0,ChIJNX9vQIIhYYYRYxMSm6Ws-r8,Los Perez Meat Market,601 Park St,Laredo,ChIJ16VttoIhYYYRrm5K1MI8CII,0.30
1,J Z Leyendecker Elementary,100.0,ChIJmbl7ypshYYYRiKKoksvsrQY,Los Perez Meat Market,601 Park St,Laredo,ChIJ16VttoIhYYYRrm5K1MI8CII,0.70
2,"J C Martin, Jr. Elementary School",100.0,ChIJEza6tnUhYYYR-cLcFf4kcS4,Los Perez Meat Market,601 Park St,Laredo,ChIJ16VttoIhYYYRrm5K1MI8CII,0.90
3,Don Jose Gallego,100.0,ChIJu3mShXohYYYRF2uzDZdl5QE,Heights Meat Market,3119 Tilden Ave,Laredo,ChIJ2zec2m0hYYYRY7BfeffXzkQ,0.90
4,Tarver Elementary School,100.0,ChIJVUc4xG0hYYYRjIiQQz6gRzE,Heights Meat Market,3119 Tilden Ave,Laredo,ChIJ2zec2m0hYYYRY7BfeffXzkQ,0.06

In [113]:
merged.to_csv("Laredo Google Place IDs.csv", index = False)

In [114]:
Laredo_cleaned = merged[['School Name', 'Location', 'Store Name', 'Address', 'Driving Distance (miles)', 'Percent in Poverty']]

In [115]:
Laredo_cleaned.head(3)

,School Name,Location,Store Name,Address,Driving Distance (miles),Percent in Poverty
0,Antonio M. Bruni Elementary School,Laredo,Los Perez Meat Market,601 Park St,0.3,100.0
1,J Z Leyendecker Elementary,Laredo,Los Perez Meat Market,601 Park St,0.7,100.0
2,"J C Martin, Jr. Elementary School",Laredo,Los Perez Meat Market,601 Park St,0.9,100.0

In [117]:
Laredo_cleaned = Laredo_cleaned.sort_values("School Name").reset_index()

In [118]:
Laredo_cleaned.head()

,index,School Name,Location,Store Name,Address,Driving Distance (miles),Percent in Poverty
0,0,Antonio M. Bruni Elementary School,Laredo,Los Perez Meat Market,601 Park St,0.3,100.0
1,13,Christopher M. Macdonell Elementary School,Laredo,Laredo Organic Foods & Vitamin,611 Salinas Ave,0.7,100.0
2,15,Clarence L. Milton Elementary School,Laredo,H-E-B,2310 E Saunders St,0.9,100.0
3,10,D D Hachar Elementary School,Laredo,H-E-B,1301 Guadalupe St,1.2,100.0
4,3,Don Jose Gallego,Laredo,Heights Meat Market,3119 Tilden Ave,0.9,100.0

In [119]:
Laredo_cleaned['Bus Distance (miles)'] = np.nan

In [120]:
Laredo_cleaned['Zip Code'] = np.nan

In [121]:
Laredo_cleaned = Laredo_cleaned[['School Name', 'Location', 'Store Name', 'Address', 'Driving Distance (miles)', 'Bus Distance (miles)', 'Percent in Poverty', 'Zip Code']]

In [122]:
Laredo_cleaned.head()

,School Name,Location,Store Name,Address,Driving Distance (miles),Bus Distance (miles),Percent in Poverty,Zip Code
0,Antonio M. Bruni Elementary School,Laredo,Los Perez Meat Market,601 Park St,0.3,NaN,100.0,NaN
1,Christopher M. Macdonell Elementary School,Laredo,Laredo Organic Foods & Vitamin,611 Salinas Ave,0.7,NaN,100.0,NaN
2,Clarence L. Milton Elementary School,Laredo,H-E-B,2310 E Saunders St,0.9,NaN,100.0,NaN
3,D D Hachar Elementary School,Laredo,H-E-B,1301 Guadalupe St,1.2,NaN,100.0,NaN
4,Don Jose Gallego,Laredo,Heights Meat Market,3119 Tilden Ave,0.9,NaN,100.0,NaN

In [123]:
Laredo_cleaned.to_csv("Laredo_Cleaned.csv", index = False)

In [127]:
Laredo_cleaned.get_values()

array([['Antonio M. Bruni Elementary School', 'Laredo',
        'Los Perez Meat Market', '601 Park St', 0.3, nan, 100.0, nan],
       ['Christopher M. Macdonell Elementary School', 'Laredo',
        'Laredo Organic Foods & Vitamin', '611 Salinas Ave', 0.7, nan,
        100.0, nan],
       ['Clarence L. Milton Elementary School', 'Laredo', 'H-E-B',
        '2310 E Saunders St', 0.9, nan, 100.0, nan],
       ['D D Hachar Elementary School', 'Laredo', 'H-E-B',
        '1301 Guadalupe St', 1.2, nan, 100.0, nan],
       ['Don Jose Gallego', 'Laredo', 'Heights Meat Market',
        '3119 Tilden Ave', 0.9, nan, 100.0, nan],
       ['Dovalina Elementary School', 'Laredo',
        'Laredo Organic Foods & Vitamin', '611 Salinas Ave', 1.6, nan,
        100.0, nan],
       ['Francisco Farias Elementary School', 'Laredo', 'H-E-B',
        '4801 San Dario Ave', 8.0, nan, 100.0, nan],
       ['Heights Elementary School', 'Laredo', 'H-E-B',
        '1301 Guadalupe St', 0.2, nan, 100.0, nan],
       ['Henry B. Zachry Elementary School', 'Laredo', 'H-E-B',
        '2314 S Zapata Hwy', 1.0, nan, 100.0, nan],
       ['Honore Ligarde Elementary School', 'Laredo', 'H-E-B',
        '2314 S Zapata Hwy', 1.1, nan, 100.0, nan],
       ['J C Martin, Jr. Elementary School', 'Laredo',
        'Los Perez Meat Market', '601 Park St', 0.9, nan, 100.0, nan],
       ['J Z Leyendecker Elementary', 'Laredo', 'Los Perez Meat Market',
        '601 Park St', 0.7, nan, 100.0, nan],
       ['Kawas Elementary School', 'Laredo', 'H-E-B',
        '2314 S Zapata Hwy', 0.5, nan, 100.0, nan],
       ['Leon Daiches Elementary School', 'Laredo', 'H-E-B',
        '1301 Guadalupe St', 0.8, nan, 100.0, nan],
       ['Michael S. Ryan Elementary School', 'Laredo', 'H-E-B',
        '1301 Guadalupe St', 1.9, nan, 100.0, nan],
       ['Pierce Elementary School', 'Laredo', 'Heights Meat Market',
        '3119 Tilden Ave', 0.9, nan, 100.0, nan],
       ['Sanchez Elementary School', 'Laredo', 'Heights Meat Market',
        '3119 Tilden Ave', 0.6, nan, 100.0, nan],
       ['Santa Maria Elementary School', 'Laredo', 'H-E-B',
        '4801 San Dario Ave', 7.7, nan, 100.0, nan],
       ['Santo Nino Elementary School', 'Laredo', 'H-E-B',
        '2314 S Zapata Hwy', 1.0, nan, 100.0, nan],
       ['Tarver Elementary School', 'Laredo', 'Heights Meat Market',
        '3119 Tilden Ave', 0.06, nan, 100.0, nan]], dtype=object)

In [128]:
help(object)

Help on class object in module builtins:

class object
 |  The most base type

In [131]:
Laredo_cleaned[Laredo_cleaned['Driving Distance (miles)'] > 1]

,School Name,Location,Store Name,Address,Driving Distance (miles),Bus Distance (miles),Percent in Poverty,Zip Code
3,D D Hachar Elementary School,Laredo,H-E-B,1301 Guadalupe St,1.2,NaN,100.0,NaN
5,Dovalina Elementary School,Laredo,Laredo Organic Foods & Vitamin,611 Salinas Ave,1.6,NaN,100.0,NaN
6,Francisco Farias Elementary School,Laredo,H-E-B,4801 San Dario Ave,8.0,NaN,100.0,NaN
9,Honore Ligarde Elementary School,Laredo,H-E-B,2314 S Zapata Hwy,1.1,NaN,100.0,NaN
14,Michael S. Ryan Elementary School,Laredo,H-E-B,1301 Guadalupe St,1.9,NaN,100.0,NaN
17,Santa Maria Elementary School,Laredo,H-E-B,4801 San Dario Ave,7.7,NaN,100.0,NaN

In [133]:
Laredo_cleaned.count()

School Name                 20
Location                    20
Store Name                  20
Address                     20
Driving Distance (miles)    20
Bus Distance (miles)         0
Percent in Poverty          20
Zip Code                     0
dtype: int64

In [134]:
6/20 # Only 30% of these Title 1 schools are in a food desert

0.3