Demonstrating how to make a heatmap from our datasets

In [1]:
import pandas as pd
from config import gkey
import gmaps
import numpy as np
import requests

In [2]:
# Pulling in San Antonio dataset

infile = pd.read_csv("San_Antonio_coords.csv")
SA_df = pd.DataFrame(infile)
SA_df.head()

,School Name,Location,Percent in Poverty,Lat,Long,Google Place ID
0,Kay Franklin Elementary School,San Antonio,90.63,29.527388,-98.731561,ChIJZ1nRc5NpXIYRWqa1idCgEJg
1,Gates Elementary School,San Antonio,97.52,29.409923,-98.427857,ChIJdyGkXZL2XIYRhh0JiXBbhig
2,Charles Graebner Elementary School,San Antonio,93.24,29.384539,-98.528102,ChIJdaDOif1YXIYR6sEyEDYLmU4
3,Robert B Green Academy,San Antonio,88.46,29.399431,-98.483830,ChIJNy8ZhCD2XIYRm385ZPZbeRM
4,Herff Elementary School,San Antonio,96.73,29.409190,-98.472454,ChIJI5f_Sxf2XIYRhXwvlowTISY

In [3]:
# Setting locations and weight variables to get map with areas weighted by poverty percentage

locations = SA_df[["Lat", "Long"]].astype(float)
weights = SA_df["Percent in Poverty"]

In [4]:
# Creating the heat map

gmaps.configure(api_key = gkey)

fig = gmaps.figure()

heat_layer = gmaps.heatmap_layer(locations, weights=weights, max_intensity = 100, point_radius = 15)

fig.add_layer(heat_layer)

fig

Figure(layout=FigureLayout(height='420px'))