In [1]:
import pandas as pd
import numpy as np
from config import gkey
import requests
import json
import gmaps

In [2]:
# Getting school zip codes in Austin

infile = pd.read_csv("Austin_Coords.csv")
df = pd.DataFrame(infile)

In [5]:
df.head(2)

,School Name,Location,Percent in Poverty,Lat,Long,Google Place ID
0,Allison Elementary,Austin,92.00,30.168207,-97.817760,ChIJ04RBdWa3RIYRgJ7aGK5dgXM
1,Andrews Elementary School,Austin,91.02,30.317554,-97.679663,ChIJ6YaMBenJRIYRhrPJHKXhGBU

In [28]:
Austin_place_ID = df["Google Place ID"]

In [8]:
subgroup = Austin_place_ID[0:4]
subgroup

0    ChIJ04RBdWa3RIYRgJ7aGK5dgXM
1    ChIJ6YaMBenJRIYRhrPJHKXhGBU
2    ChIJbSvrueG0RIYRxmI7kMMuRAY
3    ChIJORLPNri1RIYRiP9HBkbu5Iw
Name: Google Place ID, dtype: object

In [4]:
base_url = "https://maps.googleapis.com/maps/api/geocode/json?"

In [10]:
params = {"key": gkey, "place_id": "ChIJ04RBdWa3RIYRgJ7aGK5dgXM"}
request = requests.get(base_url, params = params)
print(request.url)

https://maps.googleapis.com/maps/api/geocode/json?key=AIzaSyCSZY42yDZ7aQ7PoleWtu-1Hvcw3Jkk7bU&place_id=ChIJ04RBdWa3RIYRgJ7aGK5dgXM

In [11]:
data = request.json()

In [12]:
print(data['results'][0]['address_components'][4]['long_name'])
print(data['results'][0]['address_components'][4]['long_name'])

78748

In [22]:
subgroup = subgroup[1:]

In [25]:
school_name = []
location = 'Austin'
zip_code = ['78748']
Lat = df["Lat"]
Long = df["Long"]

for place in subgroup:
    params = {"key": gkey, "latlng": }
    data = requests.get(base_url, params = params).json()
    zip_code.append(data['results'][0]['address_components'][7]['long_name'])

In [26]:
print(zip_code)

['78748', '78723', '78704', '78702']

In [27]:
# print(json.dumps(data, indent=4, sort_keys=True))

In [19]:
# print(data['results'][0]['address_components'][7]['long_name'])

78702

In [ ]:
if (len(results) == 0):
    continue
else: 
    df.loc[index, 'name'] = results[0].get('name', np.nan)

In [ ]:
school_name = []
location = 'Austin'
zip_code = ['78748']

for place in subgroup:
    if (len(results) == 0):
        continue
    else:
        params = {"key": gkey, "place_id": place}
        data = requests.get(base_url, params = params).json()
        zip_code.append(data['results'][0]['address_components'][7]['long_name'])

In [31]:
Lat = df["Lat"]
Long = df["Long"]

In [47]:
i = 0
latlng = []

while i < len(Lat):
    latlng.append(f"{Lat[i]},{Long[i]}")
#     print(latlng)
    i += 1

In [50]:
len(latlng)

61

In [53]:
params = {"key": gkey, "latlng": latlng[0]}

In [54]:
request = requests.get(base_url, params = params)
print(request.url)

https://maps.googleapis.com/maps/api/geocode/json?key=AIzaSyCSZY42yDZ7aQ7PoleWtu-1Hvcw3Jkk7bU&latlng=30.168206999999992%2C-97.8177601

In [55]:
data = request.json()

In [56]:
print(data['results'][0]['address_components'][7]['long_name'])

78748

In [57]:
len(Austin_place_ID)

61

In [64]:
zip_code = []

for place in Austin_place_ID:
    try:
   
        params = {"key": gkey, "place_id": place}
        data = requests.get(base_url, params = params).json()
        zip_code.append(data['results'][0]['address_components'][7]['long_name'])
        
    except:
        zip_code.append("not found")
        continue

In [65]:
len(zip_code)

61

In [66]:
df["Zip Code"] = zip_code

In [68]:
df.head(2)

,School Name,Location,Percent in Poverty,Lat,Long,Google Place ID,Zip Code
0,Allison Elementary,Austin,92.00,30.168207,-97.817760,ChIJ04RBdWa3RIYRgJ7aGK5dgXM,not found
1,Andrews Elementary School,Austin,91.02,30.317554,-97.679663,ChIJ6YaMBenJRIYRhrPJHKXhGBU,78723

In [73]:
df.at['0', 'Zip Code'] = '78748'

In [74]:
df.head(2)

,School Name,Location,Percent in Poverty,Lat,Long,Google Place ID,Zip Code
0,Allison Elementary,Austin,92.00,30.168207,-97.817760,ChIJ04RBdWa3RIYRgJ7aGK5dgXM,not found
1,Andrews Elementary School,Austin,91.02,30.317554,-97.679663,ChIJ6YaMBenJRIYRhrPJHKXhGBU,78723

In [79]:
df.to_csv("zip_codes.csv", index = False)

In [81]:
# cleaned in text file

In [83]:
infile = pd.read_csv("zip_codes.csv")
df = pd.DataFrame(infile)

In [85]:
df.groupby(["Zip Code"])["Percent in Poverty"].mean()

Zip Code
78702    90.875714
78703    33.930000
78704    73.722500
78721    89.253333
78722    81.450000
78723    85.632000
78724    94.355000
78735    40.590000
78741    91.180000
78744    87.532500
78745    56.646667
78748    64.692000
78749    42.680000
78751    43.010000
78752    88.090000
78753    92.714000
78757    80.845000
78758    92.997500
Name: Percent in Poverty, dtype: float64

In [86]:
zip_codes = df["Zip Code"]

In [87]:
infile = pd.read_csv("Austin_Distances.csv")
df2 = pd.DataFrame(infile)

In [88]:
df2.head(2)

,School,Location,Closest Store,Store Address,Driving Distance (miles),Bus Distance (miles),Percent in Poverty
0,Allison Elementary,Austin,H-E-B,"2110 W Slaughter Ln, Austin",1.0,1.3,92.00
1,Andrews Elementary School,Austin,H-E-B,"7112 Ed Bluestein Blvd #125, Austin",1.2,1.6,91.02

In [89]:
df2["Zip Code"] = zip_codes

In [90]:
df2.head()

,School,Location,Closest Store,Store Address,Driving Distance (miles),Bus Distance (miles),Percent in Poverty,Zip Code
0,Allison Elementary,Austin,H-E-B,"2110 W Slaughter Ln, Austin",1.0,1.3,92.00,78748
1,Andrews Elementary School,Austin,H-E-B,"7112 Ed Bluestein Blvd #125, Austin",1.2,1.6,91.02,78723
2,Becker Elementary School,Austin,H-E-B,"2400 S Congress Ave, Austin",1.3,1.3,64.52,78704
3,Blackshear Elementary School,Austin,H-E-B,"2701 E 7th St, Austin",1.2,1.2,82.49,78702
4,Blanton Elementary,Austin,H-E-B,"1801 E 51st St, Austin",1.0,1.1,65.23,78723

In [91]:
df2.to_csv("Austin_Distances.csv", index = False)